        <div id="history">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">

                      History

                    <span class="glyphicon glyphicon-circle-arrow-left pull-right"></span>
                  </h4>
                </div>
                <div id="no-collapse" class="panel-collapse in">
                  <div class="panel-body">
                    <ul class="nav">
                        <li class=""><a data-sectionlink="outOfNetworkReimbursement" href="#overview-doctype">Out of Network Reimbursement</a></li>
                        <li class=""><a data-sectionlink="formularyList" href="#overview-mobile">Formulary List</a></li>
                        <li class=""><a data-sectionlink="network" href="#overview-responsive-images">Network</a></li>
                        <li class=""><a href="#overview-type-links">General Administration</a></li>
                     </ul>


                  </div>
                </div>
              </div>
            </div>
        </div>