<!-- <div id="sidebarMinimizer">
  <div id="sidebar1Minimizer" class="iconMinimizer">Plan&nbsp;Selector</div>
  <div id="sidebar2Minimizer" class="iconMinimizer">Section&nbsp;Details</div>
</div> -->

<div id="sidebar1" class="sidebar">
        <!-- <span class="glyphicon glyphicon-circle-arrow-left pull-right"></span> -->
        <ul class="nav planLinks">
          <li class="" id="planOptionsLink"><a href="#overview-doctype">Plan Options</a></li>
          <li class="" id="benefitOptionsLink"><a href="#overview-mobile">Benefit Options</a></li>
          <li class="" id="mandatesLink"><a href="#overview-responsive-images">Mandates</a></li>
          <li class="" id="medicalPolicyLink"><a href="#overview-type-links">Medical Policy</a></li>
          <li class="" id="benefitsLink"><a href="#overview-normalize">Benefits</a></li>
        </ul>
        <div id="historyMinimizer" class="iconMinimizer">History</div>
</div>

<div id="sidebar2" class="sidebar">
    <div id="plan-options-links" class="subSideBar">
          <!-- <span class="glyphicon glyphicon-circle-arrow-left pull-right"></span> -->
          <ul class="nav">
            <li class="" id="outOfNetworkReimbursementLink"><a data-sectionlink="outOfNetworkReimbursement" href="#">Out of Network Reimbursement</a></li>
            <li class="" id="formularyListLink"><a data-sectionlink="formularyList" href="#">Formulary List</a></li>
            <li class="" id="networkLink"><a data-sectionlink="network" href="#">Network</a></li>
            <li class=""><a href="#">General Administration</a></li>
            <li class="" id="deductibleLink"><a data-sectionlink="deductible" href="#">Deductible</a></li>
            <li class=""><a href="#">Out of Pocket Maximum</a></li>
            <li class=""><a href="#">Formulary Coverage</a></li>
            <li class=""><a href="#">Non-Formulary Coverage</a></li>
            <li class=""><a href="#">Generic Copay Logic</a></li>
            <li class=""><a href="#">Paper Claims</a></li>
            <li class=""><a href="#">Day Supplies</a></li>
            <li class=""><a href="#">High Dollar Limits</a></li>
          </ul>
    </div>

    <div id="benefits-links" class="subSideBar">
          <span class="glyphicon glyphicon-circle-arrow-left pull-right"></span>
          <ul class="nav ulBenefits ulFirst">
            <li><a href="#">Emergency Response System</a></li>
            <li><a href="#">Exercise Equipment</a></li>
            <li><a href="#">Heating Pad</a></li>
            <li><a href="#">Home Modification</a></li>
            <li><a href="#">Humidifier</a></li>
              <ul class="nav ulBenefits">
                <li><a href="#">Exercise Equipment</a></li>
                <li><a href="#">Heating Pad</a></li>
                <li><a href="#">Home Modification</a></li>
                <li><a href="#">Humidifier</a></li>
                   <ul class="nav ulBenefits">
                    <li><a href="#">Exercise Equipment</a></li>
                    <li><a href="#">Heating Pad</a></li>
                    <li><a href="#">Home Modification</a></li>
                    <li><a href="#">Humidifier</a></li>
                       <ul class="nav ulBenefits">
                        <li><a href="#">Exercise Equipment</a></li>
                        <li><a href="#">Heating Pad</a></li>
                        <li><a href="#">Home Modification</a></li>
                        <li><a href="#">Humidifier</a></li>
                          <ul class="nav ulBenefits">
                            <li><a href="#">Exercise Equipment</a></li>
                            <li><a href="#">Heating Pad</a></li>
                            <li><a href="#">Home Modification</a></li>
                            <li><a href="#">Humidifier</a></li>
                               <ul class="nav ulBenefits">
                                <li><a href="#">Exercise Equipment</a></li>
                                <li><a href="#">Heating Pad</a></li>
                                <li><a href="#">Home Modification</a></li>
                                <li><a href="#">Humidifier</a></li>
                              </ul>
                          </ul>
                      </ul>
                  </ul>
              </ul>
            <li><a href="#">Exercise Equipment</a></li>
            <li><a href="#">Heating Pad</a></li>
            <li><a href="#">Home Modification</a></li>
            <li><a href="#">Humidifier</a></li>
          </ul>
    </div>
</div>