  <table class="topTable">
    <thead>
      <tr>
          <td>EmpireGuidedAccess_HMO_NY_Empire Guided Access Non Standard HSA_New York_0850060832</td>
          <td>Dental Blue_Family Standalone_New York_0901420566</td>
          <td>Health Exchange Silver_Adult Plan A_California_1101340922</td>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>ID: 0935210085</td>
        <td>ID: 0935210085</td>
        <td>ID: 0935210085</td>
      </tr>
      <tr>

        <td>Proxy ID: 0935210085</td>
        <td>Proxy ID: 0935210085</td>
        <td>Proxy ID: 0935210085</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <td>ER Care</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Emergency Room Copay</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Foreign Travel</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NonERCareOutsideUSA</td>
        <td>Covered</td>
        <td>Covered Not</td>
        <td>Covered</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Deductible</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Deductible - Individual</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>INN HMO Deductible - Family</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Copay Included in Deductible</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Last Quarter Carryover Deductible</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <td>ER Care</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Emergency Room Copay</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Foreign Travel</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NonERCareOutsideUSA</td>
        <td>Covered</td>
        <td>Covered Not</td>
        <td>Covered</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Deductible</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Deductible - Individual</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>INN HMO Deductible - Family</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Copay Included in Deductible</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Last Quarter Carryover Deductible</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <td>ER Care</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Emergency Room Copay</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
        <td>$75 per visit</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Foreign Travel</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NonERCareOutsideUSA</td>
        <td>Covered</td>
        <td>Covered Not</td>
        <td>Covered</td>
      </tr>
    </tbody>
  </table>
 <table>
    <thead>
      <tr>
        <td>Deductible</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INN HMO Deductible - Individual</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>INN HMO Deductible - Family</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Copay Included in Deductible</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Last Quarter Carryover Deductible</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>