<div id="findPlan">
  <table>
    <thead>
      <tr>
        <th colspan="2" class="planName">
          Song Name
        </th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          <button type="radio"></button>
        </td>
        <td>
          Example Friend Yay!
        </td>
      </tr>

      <tr>
        <td>
          <button type="radio"></button>
        </td>
        <td>
          Example Friend Yay!
        </td>
      </tr>

      <tr>
        <td>
          <button type="radio"></button>
        </td>
        <td>
          Example Friend Yay!
        </td>
      </tr>

      <tr>
        <td>
          <button type="radio"></button>
        </td>
        <td>
          Example Friend Yay!
        </td>
      </tr>

    </tbody>
  </table>
  <div id="addNewSong">
    <ul class="nav nav-pills">
      <li class="pull-right">
        <a href="#" class="">
          <div id="send-to-friends">
            Send
            <span class="glyphicon glyphicon-play-circle btn-lg"></span>
          </div>
        </a>
      </li>
      <li class="pull-left"><a href="#" class="">
          <div id="back-to-list">
            Back
          </div>
        </a></li>
    </ul>
  </div>
</div>
