<div id="homePage">
  <table>
    <thead>
      <tr>
        <th colspan="2" class="planName">
          My List
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
      </tr>
      <tr>
        <td>
          Example Song Yay!
        </td>
        <td>
          <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
        </td>
        <tr>
          <td>
            Example Song Yay!
          </td>
          <td>
            <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Example Song Yay!
          </td>
          <td>
            <a href="#" class="share-button"><span class="glyphicon glyphicon-play-circle btn-lg"></span></a>
          </td>
        </tr>
      </tr>
    </tbody>
  </table>
  <div id="addNewSong">
    <ul class="nav nav-pills">

      <li class="pull-right"><a href="#" class=""><span class="glyphicon glyphicon-play-circle btn-lg"></span></a></li>

      <li class="pull-left"><input type="text" placeholder="Add Song"></li>
    </ul>


  </div>
</div>